moodledata/
moodle-src/*
!moodle-src/config.php
!moodle-src/public/
moodle-src/public/*
!moodle-src/public/mod/
moodle-src/public/mod/*
!moodle-src/public/mod/hvp/
!moodle-src/public/mod/hvp/**
!moodle-src/public/question/
moodle-src/public/question/*
!moodle-src/public/question/format/
moodle-src/public/question/format/*
!moodle-src/public/question/format/h5p/
!moodle-src/public/question/format/h5p/**
!moodle-src/public/course/
moodle-src/public/course/*
!moodle-src/public/course/format/
moodle-src/public/course/format/*
!moodle-src/public/course/format/remuiformat/
!moodle-src/public/course/format/remuiformat/**
!moodle-src/public/theme/
moodle-src/public/theme/*
!moodle-src/public/theme/moove/
!moodle-src/public/theme/moove/**
!moodle-src/public/local/
moodle-src/public/local/*
!moodle-src/public/local/hvactools/
!moodle-src/public/local/hvactools/**
*.sql
*.mbz
*.bak
*.tmp
*.log
.env
